* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  padding: 10px 5px 10px 5px;
  color: #ffffff;
  margin: 10px!important;
  background-color: #5b83ad;
  outline: 1px solid red;
}
button:focus {
  outline: none;
  outline-width: 0;
}
img {
  width: 200px;
  height: 100px;
  border-radius: 15px;
}
